/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Oswald:wght@200..700&display=swap');




/*Asterisk wildcard selector to override default styles added by browser*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*Body*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    /*Generic styles*/
    color: #3a3a3a;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3a3a3a;
    text-align: center;
}


/*Header*/
header{
    background-color: #ffffff;
    width: 100%;
    padding: 0 2em;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 1px #808080;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit;
}

#nav-bar{
    font-size: large;
    letter-spacing: 2px;
    list-style-type: none;
}

#nav-bar > li{
    margin-bottom: 1rem;

}
#nav-toggle{
    display: none;
}

.travel{
    border-bottom: 1px solid #3a3a3a;
}
/*Nav styles with dropdown option*/

nav{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    padding: 0 2rem;
    left: 0;
    box-shadow: 0 2px 3px #808080;
    display: none;
    top: 100%;
    
}

#nav-toggle:checked~nav{
    display: block;
}

.nav-toggle-label{
    font-size: 2rem;
}
/*Main Content*/

main{
    /*Make main element to take up any surplus space to push footer down*/

    flex: 1 0 auto;
    
    

}


/*Hero-image section*/
#hero-image{
    position: relative;
    height: 700px;
    width: 100%;
    background: url(..//images/samr.webp) no-repeat center center/cover;
}

#cover-text{
    /*Rgba for the opacity*/
    background: rgba(173, 216, 230, 0.8);
    font-size: 90%;
    position: absolute;
    width: 100%;
    min-height: 100px;
    padding: 30px;
    

}
#cover-text>h2 {
    color: #3a3a3a
}

#reasons {

    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    background-color: lightblue;
    
    
}
#reasons h2{
    font-size: 150%;
    text-align: center;
    margin-bottom: 15px;
}

#reasons p{
    text-align: center;
}


#list > div,
#second-list > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#list hr{
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;

}

#cover-girl{
    height: 90vh;
    width: 90vh;
    background: url(../images/girlwithpomegranate.webp) no-repeat center center/cover;
    margin-bottom: 20px;
    /*Make square image circle*/
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
}


#reasons-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Uzbekistan Cities section*/


#cities{
    /*Handle responsivity witout the need for media query*/
    background: url(../images/uzcity.webp) no-repeat, center center/cover;
    background-size: cover;
   display: flex;
   flex-wrap: wrap;
   padding-bottom: 30px;
   justify-content: center;
   


    

}

#description  div {
    background: rgba(173, 216, 230, 0.9);
    padding: 20px;
    /*Add space around each div*/
    margin: 15px;
    border: 1px solid #ccc;/*Add a border around each div*/
    border-radius: 8px; /*Round the corners*/
    box-sizing: border-box;
    text-align: center;
    
    
    
}

/*Gallery section*/

#pictures img{
    width: 100%;
    line-height: 1em;
}

#pictures{
    line-height: 0;
}



/*Footer*/
#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
}

#social-media i {
    font-size: 180%;
    padding: 5%;
    color: #3a3a3a;
}

/*Media Query: large or landscape phone (576px and up)*/
@media screen and (min-width: 576px){
    #pictures{
        column-count: 2;
        column-gap: 0;
    }
}


/*Media Query*/
@media screen and (max-width: 768px) {
    main {
    margin-top : 95px;
    }
    }
    @media screen and (min-width: 769px) {
    main {
    margin-top : 78px; 
    }
    }

    
    /*Media Queries for tablets and larger (768px and up)*/

@media screen and (min-width: 768px) {
    /*Header*/
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #nav-bar{
        display: flex;
    }
    #nav-bar > li{
        padding-left: 1rem;
    }
    .nav-toggle-label{
        display: none;
    }
    #logo{
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.3rem;
    

    }
    /*Main Content*/
    main{
        margin-top: 78px;
    }


    
    /*Reasons section*/
    
    
    

    #list,
    #second-list{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #list > div,
    #second-list > div{
     width: 100%;
    }

    /*Gallery*/
    #photos{
        column-count: 2;
    }
    

    /*Large devices (laptops, desktops 992px and up*/
    #nav-bar a:hover{
        border-bottom: 1px solid #3a3a3a;
    }

    /*Gallery*/
    #photos{
        column-count: 4;
    }
}


