/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Oswald:wght@200..700&display=swap');




/*Asterisk wildcard selector to override default styles added by browser*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*Body*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    /*Generic styles*/
    color: #3a3a3a;
    font-family: 'Inter', sans-serif;
}


/*Header*/
header{
    background-color: #ffffff;
    width: 100%;
    padding: 0 2em;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 1px #808080;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3a3a3a;
    text-align: center;
}

#nav-bar{
    font-size: large;
    letter-spacing: 2px;
    list-style-type: none;
}

#nav-bar > li{
    margin-bottom: 1rem;

}
#nav-toggle{
    display: none;
}

.travel{
    border-bottom: 1px solid #3a3a3a;
}
/*Nav styles with dropdown option*/

nav{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    padding: 0 2rem;
    left: 0;
    box-shadow: 0 2px 3px #808080;
    display: none;
    top: 100%;
    
}

#nav-toggle:checked~nav{
    display: block;
}

.nav-toggle-label{
    font-size: 2rem;
}
/*Main Content*/

main{
    background-color: lightgray;
    flex:  auto;
    
    

}

/*Footer*/

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
}

#social-media i {
    font-size: 180%;
    padding: 5%;
    color: #3a3a3a;
}



/*Media Queries*/
@media screen and (max-width: 768px) {
    main {
    margin-top : 95px;
    }
    }
    @media screen and (min-width: 769px) {
    main {
    margin-top : 47px; 
    }
    }
    
    /*Media Queries for tablets and larger (768px and up)*/

@media screen and (min-width: 768px) {
    /*Header*/
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1 rem;
    }
    #nav-bar{
        display: flex;
    }
    #nav-bar > li{
        padding-left: 1rem;
    }
    .nav-toggle-label{
        display: none;
    }
    #logo{
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.3rem;
    

    }

    /*Main Content*/
    main{
        /*Make Main Content visible */
        margin-top: 78px;
    }

    /*Large devices (laptops, desktops 992px and up*/
    #nav-bar a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}
    



